<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>
		Insert tile here
	</title>
</head>

<body>
	<section>
		<div class="container-fluid mt-5 p-5">
			<div class="card card-sh">
				<div class="card-header text-center">
					<p class="fs-4">Cart Page</p>
					<th:block th:if="${session.successMssg}">
						<p class="text-success fw-bold">
							[[${session.successMssg}]]
						</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMssg}">
						<p class="text-danger fw-bold">
							[[${session.errorMssg}]]
						</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
				</div>
				<div class="card-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Sr No.</th>
								<th scope="col">Image</th>
								<th scope="col">Product Name</th>
								<th scope="col">Price</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total Price</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cartObj, c:${carts}">
								<th scope="row">[[${c.count}]]</th>
								<td><img th:src="@{'/img/product_img/'+${cartObj.product.image}}" width="70px" height="70px"></td>
								<td>[[${cartObj.product.title}]]</td>
								<td>[[${cartObj.product.discountPrice}]]</td>
								<td>[[${cartObj.quantity}]]</td>
								<td>[[${cartObj.totalPrice}]]</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</body>

</html>