<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>
		Insert title here
	</title>
</head>

<body>
	<!--<h4>
		Admin - Add Product page
	</h4>-->

	<section>
		<div class="container p-5 mt-3">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="card card-sh">
						<div class="card-header text-center">
							<p class="fs-4">Edit Product</p>
							<th:block th:if="${session.successMssg}">
								<p class="text-success fw-bold">
									[[${session.successMssg}]]
								</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

							<th:block th:if="${session.errorMssg}">
								<p class="text-danger fw-bold">
									[[${session.errorMssg}]]
								</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
						</div>
						<div class="card-body">
							<form action="/admin/updateProduct" method="post" enctype="multipart/form-data">
								<div class="mb-3">
									<input type="hidden" name="id" th:value="${product.id}">
									<label>
										Enter Title
									</label>
									<input type="text" name="title" class="form-control" th:value="${product.title}">
								</div>

								<div class="mb-3">
									<label>
										Enter Description
									</label>
									<textarea rows="3" cols="" class="form-control" name="description">
										[[${product.description}]]
									</textarea>
								</div>
								<div class="row">
									<div class="mb-3 col">
										<label>
											Category
										</label>
										<select class="form-control" name="category">
											<option>[[${product.category}]]</option>
											<option th:each="c:${categories}">[[${c.name}]]</option>
										</select>
									</div>

									<div class="mb-3 col">
										<label>
											Enter Price
										</label>
										<input type="text" name="price" class="form-control"
											th:value="${product.price}">
									</div>
								</div>

								<div class="row">
									<div class="mb-3 col">
										<label>
											Discount
										</label>
										<input type="number" name="discount" class="form-control"
											th:value="${product.discount}">

									</div>

									<div class="mb-3 col">
										<label>
											Discount Price
										</label>
										<input type="number" readonly class="form-control" th:value="${product.discountPrice}">
									</div>
								</div>


								<div class="row">
									<div class="mb-3 col">
										<label>
											Enter Stock
										</label>
										<input type="text" name="stock" class="form-control"
											th:value="${product.stock}">
									</div>

									<div class="mb-3 col">
										<label>
											Upload Image
										</label>
										<input type="file" name="file" class="form-control">
									</div>

									<div class="mt-1">
										<img th:src="@{'/img/product_img/'+${product.image}}" width="100px"
											height="100px">
									</div>

								</div>

								<button class="btn btn-primary col-md-12">
									Update Product
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>