<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8869-1">
	<title>
		Insert title here
	</title>
</head>

<body>
	<!--<h1>
		Admin Index Page
	</h1>-->

	<section>
		<div class="container p-5">
			<p class="text-center fs-3 mt-4">
				<!-- Here, fs-3 means Font size = 3 -->
				Admin Dashboard
			</p>
			<div class="row p-5">
				<!-- First card -->
				<div class="col-md-4 mt-4">
					<a href="#" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center text-primary">
								<i class="fa-duotone fa-solid fa-calendar-plus fa-3x text-primary"
									style="--fa-secondary-color: rgb(0, 51, 114);"></i>
								<h4>
									Add Product
								</h4>
							</div>
						</div>
					</a>
				</div>

				<!-- Second card -->
				<div class="col-md-4 mt-4">
					<a href="#" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center text-warning">
								<i class="fa-duotone fa-solid fa-layer-group fa-3x"
									style="--fa-secondary-color: rgb(0, 51, 114);"></i>
								<h4>
									Add Category
								</h4>
							</div>
						</div>
					</a>
				</div>

				<!-- Third card -->
				<div class="col-md-4 mt-4">
					<a href="#" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center text-success">
								<i class="fa-solid fa-users-viewfinder fa-3x"></i>
								<h4>
									View Product
								</h4>
							</div>
						</div>
					</a>
				</div>

				<!-- Fourth card -->
				<div class="col-md-4 mt-4">
					<a href="#" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center text-primary">
								<i class="fa-duotone fa-solid fa-box-open fa-3x"
									style="--fa-secondary-color: rgb(0, 51, 114);"></i>
								<h4>
									Orders
								</h4>
							</div>
						</div>
					</a>
				</div>


				<!-- Fifth card -->
				<div class="col-md-4 mt-4">
					<a href="#" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center text-primary">
								<i class="fa-solid fa-circle-user fa-3x"></i>
								<h4>
									User
								</h4>
							</div>
						</div>
					</a>
				</div>


				<!-- Sixth card -->
				<div class="col-md-4 mt-4">
					<a href="#" class="text-decoration-none">
						<div class="card card-sh">
							<div class="card-body text-center text-primary">
								<i class="fa-solid fa-users-gear fa-3x"></i>
								<h4>
									Add Admin
								</h4>
							</div>
						</div>
					</a>
				</div>


			</div>
		</div>
	</section>
</body>

</html>