<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8869-1">
	<title>
		Insert title here
	</title>
</head>

<body>
	<!--<h1>
		Admin Index Page
	</h1>-->

	<section>
		<div class="container p-5">
			<p class="text-center fs-3 mt-3">
				<!-- Here, fs-3 means Font size = 3 -->
				Admin Dashboard
			</p>
			<div class="row">
				<div class="col-md-4">
					<div class="card">
						<div class="card-body text-center">
							<i class="fa-duotone fa-solid fa-calendar-plus fa-2x" style="--fa-secondary-color: rgb(0, 51, 114);"></i>
							<p class="fs-5"> 
								<!-- Here, fs-5 means Font size = 5 -->
								Add Product
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>