<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>
		Insert tile here
	</title>
</head>

<body>
	<section>
		<div class="container mt-5 p-5">
			<div class="card card-sh">
				<div class="card-header text-center">
					<p class="fs-4">View Products</p>
					<th:block th:if="${session.successMssg}">
						<p class="text-success fw-bold">
							[[${session.successMssg}]]
						</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMssg}">
						<p class="text-danger fw-bold">
							[[${session.errorMssg}]]
						</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
				</div>
				<div class="card-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th scope="col">Sr No.</th>
								<th scope="col">Image</th>
								<th scope="col">Title</th>
								<th scope="col">Category</th>
								<th scope="col">Price</th>
								<th scope="col">Stock</th>
								<th scope="col">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="p, c:${products}">
								<th scope="row">[[${c.count}]]</th>
								<td><img th:src="@{'/img/product_img/'+${p.image}}" width="70px" height="70px"></td>
								<td>[[${p.title}]]</td>
								<td>[[${p.category}]]</td>
								<td>[[${p.price}]]</td>
								<td>[[${p.stock}]]</td>
								<td>
									<a th:href="@{'/admin/editProduct/'+${p.id}}" class="btn btn-sm btn-primary">
										<i class="fa-duotone fa-solid fa-pen-to-square fa-1x"
											style="--fa-secondary-color: rgb(0, 51, 114);"></i>
										Edit
									</a>
									<a th:href="@{'/admin/deleteProduct/'+${p.id}}" class="btn btn-sm btn-danger">
										<i class="fa-duotone fa-solid fa-trash fa-1x"
											style="--fa-secondary-color: rgb(0, 51, 114);"></i>
										Delete
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</body>

</html>