<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>
		Insert title here
	</title>
</head>

<body>
	<section>

		<div class="container-fluid mt-5 p-5 bg-light">
			<!-- Here, mt-5 means margin top = 5 and p-5 means padding = 5 -->

			<div class="row">
				<div class="col-md-10 offset-md-1">

					<div class="card card-sh">
						<div class="card-body">
							<p class="card-header text-center fs-3">
								My Profile
							</p>


							<th:block th:if="${session.successMssg}">
								<p class="text-success text-center fw-bold">
									[[${session.successMssg}]]
								</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

							<th:block th:if="${session.errorMssg}">
								<p class="text-danger text-center fw-bold">
									[[${session.errorMssg}]]
								</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>


							<div class="text-center">
								<img alt="" th:src="@{'../img/profile_img/'+${user.profileImage}}" class="p-2"
									style="width: 110px; height: 110px; border-radius: 50%;">
							</div>

							<div class="col-md-6 offset-md-3 mt-4">
								<table class="table table-hover table-borderless">
									<tbody>
										<form action="/admin/update-profile" method="post" enctype="multipart/form-data">
											<tr>
												<th scope="row">Name</th>
												<td>:</td>
												<td><input type="text" name="name" class="form-control"
														th:value="${user.name}"></td>
											</tr>

											<tr>
												<th scope="row">Mobile Number</th>
												<td>:</td>
												<td><input type="text" name="mobileNumber" class="form-control"
														th:value="${user.mobileNumber}"></td>
											</tr>

											<tr>
												<th scope="row">Email</th>
												<td>:</td>
												<td><input type="text" name="email" class="form-control"
														th:value="${user.email}" readonly></td>
											</tr>

											<tr>
												<th scope="row">Address</th>
												<td>:</td>
												<td><input type="text" name="address" class="form-control"
														th:value="${user.address}"></td>
											</tr>

											<tr>
												<th scope="row">City</th>
												<td>:</td>
												<td><input type="text" name="city" class="form-control"
														th:value="${user.city}"></td>
											</tr>

											<tr>
												<th scope="row">State</th>
												<td>:</td>
												<td><input type="text" name="state" class="form-control"
														th:value="${user.state}"></td>
											</tr>

											<tr>
												<th scope="row">Pincode</th>
												<td>:</td>
												<td><input type="text" name="pincode" class="form-control"
														th:value="${user.pincode}"></td>
											</tr>

											<tr>
												<th scope="row">Image</th>
												<td>:</td>
												<td><input type="file" name="imageFile" class="form-control"
														th:value="${user.profileImage}"></td>
											</tr>

											<tr>
												<th scope="row">Role</th>
												<td>:</td>
												<td><input type="text" name="" class="form-control"
														th:value="${user.role}" readonly></td>
											</tr>

											<tr>
												<th scope="row">Account Status</th>
												<td>:</td>
												<td><input type="text" name="" class="form-control"
														th:value="${user.isEnable}" readonly></td>
												<td>
													<input type="hidden" name="id" th:value="${user.id}">
												</td>
											</tr>

											<tr>
												<td></td>
												<td></td>
												<td class="text-center">
													<button class="btn btn-sm btn-warning">
														Update
													</button>
												</td>
											</tr>


										</form>
									</tbody>
								</table>
							</div>

						</div>


						<div class="card-body col-md-12 mt-1">
							<div class="row">
								<div class="card-header text-center fs-3">
									<!--<p class="text-center fs-3">-->
									Change Password
									<!--</p>-->
								</div>


								<div class="col-md-6 offset-md-3">
									<table class="table table-hover table-borderless">
										<tbody>
											<form action="/admin/change-password" method="post">
												<tr>
													<th scope="row">Current Password</th>
													<td>:</td>
													<td>
														<input type="password" name="currentPassword"
															class="form-control">
													</td>
												</tr>

												<tr>
													<th scope="row">New Password</th>
													<td>:</td>
													<td>
														<input type="password" name="newPassword" class="form-control">
													</td>
												</tr>

												<tr>
													<th scope="row">Confirm New Password</th>
													<td>:</td>
													<td>
														<input type="password" name="confirmPassword"
															class="form-control">
													</td>
												</tr>
												<tr>
													<td></td>
													<td></td>
													<td class="text-center">
														<button class="btn btn-sm btn-warning col-md-3">
															Update
														</button>
													</td>
												</tr>
											</form>
										</tbody>
									</table>
								</div>

							</div>
						</div>

					</div>

				</div>
			</div>

		</div>

	</section>
</body>

</html>